a:link, a:visited{
	color: var(--link-color);
	background-color:transparent;
	text-decoration:none;
}
	
a:hover{
	color: var(--link-hover-color);
	background-color:transparent;
	text-decoration:underline;
}

a:active{
	color:#6f3;
	background-color:transparent;
	text-decoration:none;
}