.container {
	display: flex;
	justify-content: space-around;
	align-items: stretch;
	flex-wrap: wrap;
}

.column {
	min-height: 100%;
	max-width: 600px;
	flex-direction: row;
	margin-top: 2em;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.column-info{
	min-height: 100%;
	max-width: 300px;
	flex-direction: row;
	margin-top: 2em;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	border-radius: 2px;
	border-left: 2px solid var(--border-color); 
	padding-left: 30px;
	padding-top: 10px;
}

.column-info li {
	padding-bottom: 10px;
}

@media only screen and (max-width: 900px) {
	.column-info{
		border-left: none;
		border-top: 1px solid var(--border-color);
	}

}

.column a {
	color: var(--color);
	text-decoration: none;
}

.gradesgroup{
	display: flex;
	flex-direction: column;
	margin: 1em;
	width: 200px;
	height: 200px;
	font-size: 1.20em;
	border: solid var(--border-color) 2px;
	border-radius: 1.5%;
}

.gradesgroup:hover{
	border: solid var(--border-color) 3px;
}

.gradesmin {
	width: 200px;
	height: 200px;
	padding-top: 80px;
	cursor: pointer;
	background-color: var(--secondary-bg-color);
	text-align: center;
}

.gradesmin:hover{
	background-color: var(--hover-bg-color);
}

.grade {
	border-top: solid 1px var(--border-color);
	cursor: pointer;
	background-color: var(--secondary-bg-color);
	text-align: center;
	padding: 11px;
}

.grade:hover {
	background-color: var(--hover-bg-color);
}