hr {
	background-color: var(--border-color);
	max-width: 400px;
}

.info {
	height: fit-content;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
	margin-top: 2em;
}

.info div {
	margin-top: 1em;
	margin-bottom: -1em;
	width: 300px;
}

.column-info li {
	padding-bottom: 10px;
}



.column a {
	color: var(--color);
	text-decoration: none;
}

.grades-menu {
	display: flex;
	margin: 2rem;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-around;
}

.dropbtn {
	background-color: var(--secondary-bg-color);
	border: none;
	border-left: 2px solid rgb(150, 150, 150);
	cursor: pointer;
	margin: 0 0.5rem 1rem;
	color: var(--light-link-color);
	padding: 16px;
	font-size: 16px;
}


.dropdown {
	display: inline-block;
	cursor: pointer;
	width: 234px;
}

.dropdown-content {
	display: none;
	position: absolute;
	border-bottom: solid 1px var(--border-color);
	border-top: solid 1px var(--border-color);
	z-index: 1;
	background-color: var(--secondary-bg-color);
	width: 234px;
}

.dropdown-content a {
	color: var(--light-link-color);
	text-align: center;
	border-left: solid 2px var(--border-color);
	border-right: solid 2px var(--border-color);
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

.dropdown-content a:hover {
	background-color: var(--hover-bg-color);
	color: var(--link-color);
	border-color: var(--light-link-color)
}

.dropdown:hover .dropdown-content {
	display: block;
}

.dropdown:hover .dropbtn {
	border-right: 3px;
	background-color: var(--hover-bg-color);
	/* padding: 6px 5px 6px; */
	color: var(--link-color);
	border-left-color: var(--light-link-color);
}


@media only screen and (max-width: 700px) {
	.column-info {
		border-left: none;
		border-top: 1px solid var(--border-color);
	}

	.dropdown {
		width: 80vw;
	}

	.dropdown-content {
		width: 80vw;
	}

}