@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');

body {
	color: rgb(245, 245, 245);
	background: rgb(5, 5, 5);
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
	padding: 1em;
	font-family: 'Noto Serif', serif;
}

header {
	margin: 10px;
	margin-bottom: 100px;
}

h1 {
	text-align: center;
}

.container {
	display: flex;
	justify-content: space-around;
	align-items: stretch;
	flex-wrap: wrap;
}

.column {
	min-height: 100%;
	max-width: 600px;
	flex-direction: row;
	margin-top: 2em;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.column-info{
	min-height: 100%;
	max-width: 300px;
	flex-direction: row;
	margin-top: 2em;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	border-left: 1px solid white; 
	padding-left: 30px;
	padding-top: 10px;
}

.column-info li {
	padding-bottom: 10px;
}

@media only screen and (max-width: 900px) {
	.column-info{
		border-left: none;
		border-top: 1px solid white;
	}

}

.column a {
	color:rgb(245, 245, 245);
	text-decoration: none;
}

.gradesgroup{
	display: flex;
	flex-direction: column;
	margin: 1em;
	width: 200px;
	height: 200px;
	background-color: rgb(20, 20, 20);
	font-size: 1.20em;
	border: solid rgb(192, 192, 192) 2px;
}

.gradesgroup:hover{
	border: solid rgb(192, 192, 192) 3px;
}

.gradesmin {
	width: 200px;
	height: 200px;
	padding-top: 80px;
	cursor: pointer;
	background-color: rgb(20, 20, 20);
	text-align: center;
}

.gradesmin:hover{
	background-color: rgb(39, 39, 39);
}

.grade {
	border-top: solid 1px rgb(192, 192, 192);
	cursor: pointer;
	background-color: rgb(20, 20, 20);
	text-align: center;
	padding: 11px;
}

.grade:hover {
	background-color: rgb(39, 39, 39);
}