:root {
	--bg-color: rgb(15,15,15);
	--secondary-bg-color: rgb(25, 25, 25);
	--hover-bg-color: rgb(42, 42, 42);
	--color: rgb(245, 245, 245);
	--border-color: rgb(192, 192, 192);
	--light-link-color: rgb(138, 201, 223);
	--link-color: rgb(0, 155, 226);
	--link-hover-color: red;
}