<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	{{partial "default-style.html" .}}
	<link rel="stylesheet" type="text/css" href="/css/note.css">
	{{ partial "favicon.html" . }}
	{{if .Params.math}}
	{{partial "notes/math.html" .}}
	{{end}}
	<title>{{.Params.title}}</title>
</head>
<style>
	.katex {
		font-size: 3em;
		 !important
	}
</style>

<body>
	<header>
		<h1>{{.Params.title}}</h1>
	</header>
	<div class="meta-container">
		<div class="meta">
			<!-- Metadata o poznámce samotné-->
			<div><span>Napsal:</span> <a href="/authors/{{ .Params.author | urlize}}">{{.Params.author}}</a></div>
			<div><span>Přidáno:</span> {{ .Date.Format "2.1. 2006"}}</div>
			<div><span>Témata:</span>{{range .Params.topics }} <a href="/topics/{{ . | urlize}}">{{.}}</a>{{end}}
			</div>
			<div><span>Učitelé:</span>{{range .Params.teachers }} <a href="/teachers/{{ . | urlize}}">{{.}}</a>{{end}}
			</div>
			<div><span>Pro ročníky: </span>{{range .Params.grades}} <a href="/grades/{{. | urlize}}">{{.}}</a>{{end}}
			</div>
		</div>
		<div class="toc">
			{{.TableOfContents}}
		</div>
	</div>
	<article>
		{{.Content}}
	</article>
</body>

</html>