<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	{{partial "default-style.html" .}}
	<link rel="stylesheet" type="text/css" href="/css/list.css">
	{{ partial "favicon.html" . }}
	<title>{{.Params.title}}</title>
</head>

<body>
	<header>
		<h1>{{.Params.title}}</h1>
	</header>
	<div class="summary">
		{{.Params.summary}}
	</div>
	{{partial "partials/list-filter.html" . }}
	<ul class="thelist" id="listToFilter">
		{{range (where .Site.Pages "Section" "notes")}}
		{{range .Pages}}
		{{$note := .Page.Params}}
		{{$permalink := .Page.RelPermalink}}
		{{if eq $note.subject $.Params.subject}}
		{{range $note.grades}}
		{{if eq . $.Params.grade}}
		<a href="{{$permalink}}"><li>
			<span>{{$note.title}}</span><span style="display:none">{{$note.teacher}}</span>&ensp; {{$note.author}}</li></a>
		{{end}}
		{{end}}
		{{end}}
		{{end}}
		{{end}}
	</ul>
	</div>
</body>

</html>
