<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	{{partial "default-style.html" .}}
	<link rel="stylesheet" type="text/css" href="/css/list.css">
	{{ partial "favicon.html" . }}
	<title>{{.Params.title}} | Cmgp Notes</title>
</head>

<body>
	<header>
		<h1>{{.Params.title}}</h1>
	</header>
	<div class="summary">
		{{.Content}}
	</div>
	<div>
		{{partial "partials/list-filter.html" . }}
		<ul class="thelist" id="listToFilter">
			{{ range .Data.Terms.ByCount }}
			<a href="{{ .Page.RelPermalink }}">
				<li><span>{{ .Page.Title }}</span>
					({{ .Count }})
				</li>
			</a>
			{{ end }}
		</ul>
	</div>
</body>
