<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	{{partial "default-style.html" .}}
	<link rel="stylesheet" type="text/css" href="/css/list.css">
	{{ partial "favicon.html" . }}
	<title>{{.Params.title}}</title>
</head>

<header>
	<h1><a style="color:gray; text-decoration: underline hover" href="/{{.Data.Plural | urlize}}">{{
			.Data.Singular }}:</a>
		{{.Params.title }}
	</h1>
</header>

<body>
	<div class="summary">{{ .Content }}</div>
	<div>
		{{partial "partials/list-filter.html" .}}
		<ul id="listToFilter">
			{{ range .Data.Pages }}
			<a href="{{ .RelPermalink }}">
				<li><span>{{ .Title }}</span>
					{{range .Params.grades}} {{.}}{{end}}, {{.Params.author}}
					{{range .Params.teachers}} <span style="display:none">{{.}}</span>{{end}}
				</li>
			</a>
			{{ end }}
		</ul>
	</div>
</body>