<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{partial "default-style.html" .}}
    <link rel='stylesheet' type='text/css' href='/css/about.css'>
    {{ partial "favicon.html" .}}
    <title>404 | {{.Site.Title}}</title>
</head>

<body>
    <div style="position:absolute; top: 20%; left:50%; transform: translateX(-50%) translateY(-50%);">
        <h1>404: Zde ještě není žádný obsah</h1>
        <ul>
            <li><a href="/about/zapojte-se">Zapojte se</a> a přidejte svoje poznámky!</li>
            <li>Zkontrolujte jestli máte správný odkaz</li>
            <li>Jděte ven :)</li>
        </ul>
    </div>
</body>

</html>
