<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel='stylesheet' type='text/css' href='css/home.css'>
	<link rel="shortcut icon" href="test-favicon.jpg" type="image/x-icon">
	<title>{{ .Site.Title }}</title>
</head>

<body>
	<header>
		<h1>{{ .Site.Title }}</h1>
		<div style="text-align: center; font-style: italic; font-size: 0.85em">Dimidium facti, qui coepit, habet; sapere
			aude, incipe.
		</div>
	</header>
	<section>
		<div>
			{{.Content}}
		</div>
	</section>
	<div class="main">
		<div>
			<div class="gradesgroup" , id="1" , onclick="toggleText(1)">
				<div class="gradesmin" , style="display: block;">G1–G4</div>
				<div style="display:none" , class="allgrades">
					<div class="grade">G1</div>
					<div class="grade">G2</div>
					<div class="grade">G3</div>
					<div class="grade">G4</div>
				</div>
			</div>
		</div>
	</div>
	<script>
		function toggleText(text_id) {
			text_id = text_id.toString();
			var parent = document.getElementById(text_id);
			var nodes = parent.children;
			var gradesmin;
			var allgrades;
			for (let i = 0; i < nodes.length; i++) {
				if (nodes[i].className === "gradesmin") {
					gradesmin = nodes[i];
				}
				if (nodes[i].className === "allgrades") {
					allgrades = nodes[i];
				}
			}
			if (gradesmin.style.display === "block") {
				gradesmin.style.display = "none";
				allgrades.style.display = "block";
			}
		}
	</script>
</body>

</html>