<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	{{partial "default-style.html" .}}
	<link rel='stylesheet' type='text/css' href='/css/home.css'>
	{{ partial "favicon.html" .}}
	<title>{{ .Site.Title }}</title>
</head>

<body>
	<header>
		<h1>{{ .Site.Title }}</h1>
		<div style="text-align: center; font-style: italic; font-size: 0.85em">Dimidium facti, qui coepit, habet; sapere
			aude, incipe.
		</div>
	</header>
	<section>
		<div>
			Vyberte si poznámky z <a href="https://cmgp.cz">CMGP</a> pro následující ročníky:
		</div>
	</section>
	<div>
		{{partial "home/boxes-grades.html" . }}
		<hr>
		<div class="info">
			<div>
				<h3>Meta</h3>
				<ul>
					<li>Všechna <a href="/topics">témata</a></li>
					<li>Všechny <a href="/notes">poznámky</a></li>
					<li>Všichni <a href="/teachers">učitelé</a></li>
				</ul>
			</div>
			<div>
				<h3>FAQ</h3>
				<ul>
					<li><strong><a href="/about/zapojte-se">Přispějte svými poznámkami</a></strong></li>
					<li><a href="/about/">O této stránce</a></li>
					<li>Zdroje pro <a href="/about/samostudium">samostudium</a></li>
				</ul>
			</div>
		</div>
	</div>

</body>

</html>