<script>
	function toggleText(text_id) {
		text_id = text_id.toString();
		var parent = document.getElementById(text_id);
		var nodes = parent.children;
		var gradesmin;
		var allgrades;
		for (let i = 0; i < nodes.length; i++) {
			if (nodes[i].className === "gradesmin") {
				gradesmin = nodes[i];
			}
			if (nodes[i].className === "allgrades") {
				allgrades = nodes[i];
			}
		}
		if (gradesmin.style.display === "block") {
			gradesmin.style.display = "none";
			allgrades.style.display = "block";
		}
	}
</script>